/* #Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');


/* #Root Variables */
:root {
  /* grey tones */
  --color-white: #FFFFFF;
  --color-grey-1: #E7DCCA;
  --color-grey-2: #A5A592;
  --color-grey-3: #6B695C;
  --color-grey-4: #645552;
  --color-dark-1: #202322;
  --color-dark-2: #000000;

  /* bronw tones */
  --color-brown-1: #A99089;
  --color-brown-2: #9C5B53;
  --color-brown-3: #513233;
  --color-brown-4: #3B3331;
  --color-brown-5: #29100B;

  /* pink tones */
  --color-pink-1: #DCC8C1;
  --color-pink-2: #D3C1AD;
  --color-pink-3: #D9AEA8;

  --borer-radius-1: 0.4rem;
  --borer-radius-2: 0.8rem;
  --borer-radius-3: 1.2rem;

  --padding-1: 1rem;
  --padding-2: 1.5rem;
  --padding-3: 2rem;
  --padding-4: 3rem;

  --margin-1: 1rem;
  --margin-2: 1.5rem;
  --margin-3: 2rem;

  --box-shadow: 0 2rem 3rem var(--color-light);
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  /* appearance: none; */
  border: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: var(--color-white-variant);
}

body::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

a {
  color: var(--color-dark);
}

img {
  display: block;
  width: 100%;
}

h1 {
  font-weight: 800;
  font-size: 1.8rem;
}

h2 {
  font-size: 1.2rem;
  font-weight: 500;
}

h3 {
  font-size: 1rem;
  font-weight: 500;
}

h4 {
  font-size: 0.8rem;
  font-weight: 700;
}

h5 {
  font-size: 0.6rem;
}

.text-muted {
  color: var(--color-dark-variant);
}

.hide {
  display: none;
}

.icon {
  cursor: pointer;
  transition: color 500ms;
}

.icon:hover {
  color: var(--color-green-variant);
}


/* #Home */
.home{
  position: relative;
  height: 500vh;
  width: 100vw;
  background: var(--color-dark-1);
  color: var(--color-white);
}
.home .lines{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 6% 22% 22% 22% 22% 6%;
}
.home .lines div{
  border-right: 1px var(--color-brown-2) solid;
  opacity: 0.2;
}
.home #author{
  position: fixed;
  bottom: 20px;
  left: 10px;
  font-weight: 500;
  cursor: pointer;
  opacity: 0.6;
  transition-duration: 500ms;
}
.home #author:hover{
  opacity: 1;
  font-size: 0.61rem;
}
.home .menu{
  position: fixed;
  top: 49%;
  left: 10px;
  cursor: pointer;
  opacity: 0.6;
  transition-duration: 500ms;
}
.home #menu{
  color: var(--color-brown-2);
}
.home .menu:hover{
  opacity: 1;
}

/* *landing */
.landing {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 7%;
  padding: 5% 0;
  border: 1px red solid;
}
.landing .top h1{
  font-weight: 500;
  font-size: 1.4rem;
  position: fixed;
}
.landing .top span{
  color: var(--color-brown-2);
  font-weight: 600;
}

.landing .slider{
  position: fixed;
  bottom: 5%;
}