/* #Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');


/* #Root Variables */
:root {
  /* grey tones */
  --color-white: #FFFFFF;
  --color-grey-1: #E9E9E9;
  --color-grey-2: #DFDFDE;
  --color-grey-3: #BEBDBC;
  --color-grey-4: #232323;
  --color-dark-1: #202322;
  --color-dark-2: #000000;

  /* bronw tones */
  --color-brown-1: #cfaaa0;
  --color-brown-2: #B88A44;
  --color-brown-3: #513233;
  --color-brown-4: #3B3331;
  --color-brown-5: #29100B;

  /* pink tones */
  --color-pink-1: #DCC8C1;
  --color-pink-2: #D3C1AD;
  --color-pink-3: #D9AEA8;

  --borer-radius-1: 0.4rem;
  --borer-radius-2: 0.8rem;
  --borer-radius-3: 1.2rem;

  --padding-1: 1rem;
  --padding-2: 1.5rem;
  --padding-3: 2rem;
  --padding-4: 3rem;

  --margin-1: 1rem;
  --margin-2: 1.5rem;
  --margin-3: 2rem;

  --box-shadow: 0 2rem 3rem var(--color-light);
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: var(--color-white-variant);
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 5px;
}
body::-webkit-scrollbar-track {
  background: var(--color-dark-2);
}


body::-webkit-scrollbar-thumb {
  background: var(--color-white);
  border-radius: var(--borer-radius-3);
}

body::-webkit-scrollbar-thumb:hover {
  background: var(--color-grey-2);
  cursor: pointer;
}

a {
  color: var(--color-dark);
}

img {
  display: block;
  width: 100%;
}

h1 {
  font-weight: 800;
  font-size: 1.8rem;
}

h2 {
  font-size: 1.2rem;
  font-weight: 500;
}

h3 {
  font-size: 1rem;
  font-weight: 500;
}

h4 {
  font-size: 0.8rem;
  font-weight: 700;
}

h5 {
  font-size: 0.6rem;
}

.text-muted {
  color: var(--color-dark-variant);
}

.hide {
  display: none;
}

.icon {
  cursor: pointer;
  transition: color 500ms;
}

.icon:hover {
  color: var(--color-green-variant);
}


/* #------------------------------Home---------------------------------------- */
.home{
  position: relative;
  height: 1000vh;
  width: 100vw;
  color: var(--color-white);
  background: var(--color-dark-1);
}

.home .blocks {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 7% 21.5% 21.5% 21.5% 21.5% 7%;
}
.home .blocks div{
  width: 100%;
  height: 100%;
}

.home .blocks div{
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-rows: repeat(50, 2%);
}
#one>div:nth-child(1),
#one>div:nth-child(10),
#one>div:nth-child(15),
#one>div:nth-child(35),
#one>div:nth-child(50) {
  width: 100%;
  background: var(--color-dark-2);
}
#two>div:nth-child(1),
#two>div:nth-child(13),
#two>div:nth-child(18),
#two>div:nth-child(33),
#two>div:nth-child(29),
#two>div:nth-child(41),
#two>div:nth-child(46) {
  width: 100%;
  background: var(--color-dark-2);
}

#three>div:nth-child(3),
#three>div:nth-child(12),
#three>div:nth-child(22),
#three>div:nth-child(26),
#three>div:nth-child(30),
#three>div:nth-child(36),
#three>div:nth-child(39),
#three>div:nth-child(49) {
  width: 100%;
  background: var(--color-dark-2);
}

#four>div:nth-child(6),
#four>div:nth-child(18),
#four>div:nth-child(29),
#four>div:nth-child(36),
#four>div:nth-child(44) {
  width: 100%;
  background: var(--color-dark-2);
}
#five>div:nth-child(8),
#five>div:nth-child(10),
#five>div:nth-child(19),
#five>div:nth-child(23),
#five>div:nth-child(28),
#five>div:nth-child(34),
#five>div:nth-child(47) {
  width: 100%;
  background: var(--color-dark-2);
}
#six>div:nth-child(1),
#six>div:nth-child(5),
#six>div:nth-child(10),
#six>div:nth-child(15),
#six>div:nth-child(20) {
  width: 100%;
  background: var(--color-dark-2);
}

.home .overtone{
  background: var(--color-dark-2);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.8;
}

.home .lines{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 7% 21.5% 21.5% 21.5% 21.5% 7%;
}
.home .lines div{
  border-right: 1px rgba(255, 255, 255, 0.3) solid;
  width: 100%;
  height: 100%;
}

.home .landmark{
  width: 50%;
  height: 10px;
}
.home #l1{
  position: relative;
  top: 0%;
  background: var(--color-white);
}
.home #l2{
  position: relative;
  top: 10%;
  background: var(--color-brown-1);
}
.home #l3{
  position: relative;
  top: 20%;
  background: var(--color-brown-2);
}
.home #l4 {
  position: relative;
  top: 30%;
  background: var(--color-brown-2);
}
.home #l5{
  position: relative;
  top: 40%;
  background: var(--color-brown-2);
}
.home #l6{
  position: relative;
  top:50%;
  background: var(--color-brown-2);
}
.home #l7{
  position: relative;
  top: 60%;
  background: var(--color-brown-2);
}
.home #l8{
  position: relative;
  top: 70%;
  background: var(--color-brown-2);
}
.home #l9{
  position: relative;
  top: 80%;
  background: var(--color-brown-2);
}
.home #l10{
  position: relative;
  top: 90%;
  background: var(--color-brown-2);
}
.home #author{
  position: fixed;
  bottom: 5px;
  left: 10px;
  font-weight: 500;
  cursor: pointer;
  opacity: 1;
  color: var(--color-grey-2);
  font-size: 0.45rem;
  transition-duration: 500ms;
}
.home #author:hover{
  opacity: 1;
  font-size: 0.46rem;
  color: var(--color-brown-2);
}
.home .menu{
  display: flex;
  position: fixed;
  top: 20%;
  right: -2%;
  display: flex;
    /* -ms-transform: rotateX(90deg); */
      transform: rotate(-90deg);
      transform-style: preserve-3d;
}
.home .menu .item{
  display: inline-block;
  font-size: 0.7rem;
  font-weight: 400;
  color: var(--color-grey-2);
  cursor: pointer;
  transition-duration: 1s;
}
.home .menu .item:hover{
  color: var(--color-white);
  border-bottom: 1px var(--color-white) solid;
}
.home .menu:hover{
  opacity: 1;
}
.home .brand{
  position: fixed;
  left: 8%;
  top: 13%;
}
.home .brand h1 {
  font-weight: 500;
  font-size: 1.5rem;
  position: fixed;
}
.home .brand span {
  color: var(--color-grey-2);
  font-weight: 600;
}
.home .slider{
  position: fixed;
  bottom: 10%;
  left: 8%;
}
.home .video {
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: 115vh;
  padding: 0% 0%;
  background-color: var(--color-dark-2);
}

.home .video .v-space{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.home .video .v-space video{
  position: absolute;
  right: 0;
  bottom: 0;
  height: auto;
  width: 100%;
  opacity: 0.4;
}

.home .footer {
  position: fixed;
  bottom: -100%;
  width: 100%;
  height: 30vh;
  background: var(--color-dark-1);
  border-top-right-radius: 3rem;
  border-top-left-radius: 3rem;
}
.home .footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 40%;
  padding: 2% 3%;
  padding-top: 3%;
}
.home .footer .footer-links{
  display: grid;
  width: 100%;
  grid-template-columns: 30% 40% 30%;
  color: var(--color-white);
}
.home .footer .footer-links .logo h3{
  font-size: 0.9rem;
}
.home .footer .footer-links .logo span{
  color: var(--color-brown-2);
}
.home .footer .footer-links .web-links{
  display: grid;
  grid-template-columns: 25% 25% 50%;
}
.home .footer .footer-links .web-links h3{
  font-size: 0.7rem;
  font-weight: 400;
}
.home .footer .footer-links .web-links .news .input{
  display: flex;
  justify-content: space-between;
  padding: 6px 0px;
  border-bottom: 1px var(--color-white) solid;
  width: 50%;
  color: var(--color-grey-3);
}
.home .footer .footer-links .web-links .news input{
  background: transparent;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  caret-color: var(--color-white);
  content: var(--color-white);
}
.home .footer .footer-links .web-links .news:focus,
input:focus {
  color: var(--color-white);
  font-weight: 200;
}
.home .footer .footer-links .socials{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.home .footer .footer-links .socials .heading{
  font-size: 0.7rem;
    font-weight: 400;
}
.home .footer .footer-links .socials .icons{
  display: flex;
  gap: 1rem;
  color: var(--color-grey-3);
  opacity: 0.8;
}
.home .footer .developer{
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}
.home .footer .developer h3{
  font-size: 0.6rem;
  font-weight: 400;
  color: var(--color-grey-2);
  opacity: 0.8;
}

/* *landing */
.landing {
  height: 100vh;
  position: fixed;
  top: 0;
}
.landing .scroll-text{
  display: flex;
  align-items: center;
  margin-left: 4.3%;
  height: 100%;
  position: relative;
}
.landing .scroll-text h1{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: clip;
  font-size: 6rem;
  font-weight: 500;
}
.landing .show-phone img{
  position: fixed;
  top: 100%;
  height: 80%;
}
.landing .scrolls{
  position: fixed;
  opacity: 0;
  top: 100%;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 39.8% 20.4% 39.8%;
}
.landing .scrolls .phone-background{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.landing .scrolls .phone-background .b-color{
  height: 94%;
  width: 100%;
  background: var(--color-white);
  border-radius: 2.4rem;
}
.landing .descrip-text{
  width: 20%;
  position: fixed;
  top: 60%;
  left: 8%;
  font-weight: 300;
}
.landing .photo{
  overflow: hidden;
}
.landing .photo img{
  width: 100%;
  overflow: hidden;
}
.landing #one {
  height: 350px;
  width: 380px;
  position: fixed;
  bottom: 40%;
  right: 0%;
}
.landing #two {
  height: 380px;
  width: 350px;
  position: fixed;
  bottom: -10%;
  right: 15%;
}
.landing #three {
  height: 380px;
    width: 380px;
    position: fixed;
    bottom: 12%;
    right: 0%;
}
.landing #four {
  height: 400px;
  width: 350px;
  position: fixed;
  bottom: 20%;
  right: 35%;
}
.landing #five {
  height: 300px;
  width: 300px;
  position: fixed;
  bottom: 0%;
  right: 0%;
}
.landing #six {
  height: 350px;
  width: 380px;
  position: fixed;
  bottom: -20%;
  right: 50%;
}

/* #------------------------------Shop---------------------------------------- */
.shop-section{
  background: var(--color-grey-3);
  /* height: 200vh; */
}
.shop-section .top{
  position: fixed;
  top: 0;
  width: 100%;
}
.shop-section .nav{
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--color-grey-1);
  padding: 0rem 3rem;
}
.shop-section .nav h3{
  font-weight: 400;
  color: var(--color-brown-5);
}
.shop-section .nav .icon{
  cursor: pointer;
  font-weight: 500;
  color: var(--color-brown-5);
}
.shop-section .nav .menu{
  display: flex;
  align-items: center;
  gap: 0rem;
}
.shop-section .nav .brand h1{
  font-weight: 600;
  font-size: 1.5rem;
}
.shop-section .nav .brand span{
  color: var(--color-brown-3);
}
.shop-section .nav .cart{
  display: flex;
  align-items: center;
  gap: 0rem;
}
.shop-section .product-title{
  height: 4rem;
  background: var(--color-dark-2);
  border-bottom-left-radius: var(--borer-radius-2);
  border-bottom-right-radius: var(--borer-radius-2);
  display: flex;
  align-items: center;
}
.shop-section .product-title h1{
  padding: 0rem 3rem;
  font-weight: 400;
  color: var(--color-white);
  font-size: 2rem;
}
.shop-section .product-items{
  margin-top: 5rem;
  width: 100%;
}
.shop-section .product-items .stack-small{
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.shop-section .product-items .stack-big {
  width: 100%;
  height: 110vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.shop-section .product-items .item{
  width: 50%;
  border: 1px var(--color-dark-1) solid;
  overflow: hidden;
}
.shop-section .product-items #three{
  background: url("https://twicpics.celine.com/product-prd/images/large/2V57M410T.01VA_1_SPR23.jpg?twic=v1/cover=1:1/resize-max=480");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition-duration: 2s;
}
.shop-section .product-items #three:hover{
  background-size: 120%;
}
.shop-section .product-items #four{
  background: url("https://www.iwmbuzz.com/wp-content/uploads/2022/01/style-file-5-times-blackpinks-lisa-styled-the-chasseur-jacket-5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.shop-section .product-items #seven {
  background: url("https://www.iwmbuzz.com/wp-content/uploads/2022/01/style-file-5-times-blackpinks-lisa-styled-the-chasseur-jacket-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}