/* #Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');


/* #Root Variables */
:root {
  --color-brown: #5c4646;
  --color-brown-variant: #696252;
  --color-white: #FFFFFF;
  --color-white-variant: #F2F1EF;
  --color-dark: #201F1D;
  --color-dark-variant: #494A44;
  --color-green-variant: #6C725A;

  --borer-radius-1: 0.4rem;
  --borer-radius-2: 0.8rem;
  --borer-radius-3: 1.2rem;

  --padding-1: 1rem;
  --padding-2: 1.5rem;
  --padding-3: 2rem;
  --padding-4: 3rem;

  --margin-1: 1rem;
  --margin-2: 1.5rem;
  --margin-3: 2rem;

  --box-shadow: 0 2rem 3rem var(--color-light);
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  /* appearance: none; */
  border: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: var(--color-white-variant);
}

body::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

a {
  color: var(--color-dark);
}

img {
  display: block;
  width: 100%;
}

h1 {
  font-weight: 800;
  font-size: 1.8rem;
}

h2 {
  font-size: 1.2rem;
  font-weight: 500;
}

h3 {
  font-size: 1rem;
  font-weight: 500;
}

h4 {
  font-size: 0.8rem;
  font-weight: 700;
}

h5 {
  font-size: 0.6rem;
}

.text-muted {
  color: var(--color-dark-variant);
}

.hide {
  display: none;
}

.icon {
  cursor: pointer;
  transition: color 500ms;
}

.icon:hover {
  color: var(--color-green-variant);
}


/* #Home */
