/* #Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');


/* #Root Variables */
:root {
  --color-brown: #5c4646;
  --color-brown-variant: #696252;
  --color-white: #FFFFFF;
  --color-white-variant: #F2F1EF;
  --color-dark: #201F1D;
  --color-dark-variant: #494A44;
  --color-green-variant: #6C725A;

  --borer-radius-1: 0.4rem;
  --borer-radius-2: 0.8rem;
  --borer-radius-3: 1.2rem;

  --padding-1: 1rem;
  --padding-2: 1.5rem;
  --padding-3: 2rem;
  --padding-4: 3rem;

  --margin-1: 1rem;
  --margin-2: 1.5rem;
  --margin-3: 2rem;

  --box-shadow: 0 2rem 3rem var(--color-light);
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  /* appearance: none; */
  border: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: var(--color-white-variant);
}

body::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

a {
  color: var(--color-dark);
}

img {
  display: block;
  width: 100%;
}

h1 {
  font-weight: 800;
  font-size: 1.8rem;
}

h2 {
  font-size: 1.2rem;
  font-weight: 500;
}

h3 {
  font-size: 1rem;
  font-weight: 500;
}

h4 {
  font-size: 0.8rem;
  font-weight: 700;
}

h5 {
  font-size: 0.6rem;
}

.text-muted {
  color: var(--color-dark-variant);
}

.hide {
  display: none;
}

.icon {
  cursor: pointer;
  transition: color 500ms;
}

.icon:hover {
  color: var(--color-green-variant);
}


/* #Home */
.home {

}

/* *Navbar */
.nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: var(--padding-2) var(--padding-4);
}

.nav-box {
  color: var(--color-brown);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-box .menu {
  display: flex;
  align-items: center;

}

.nav-box .brand h1 {
  color: var(--color-brown);
  font-weight: 600;
  font-size: 1.5rem;
}

.nav-box .brand h1:hover {
  animation-duration: 2s;
  animation-name: animateBrand;
}

@keyframes animateBrand {
  5% {
    content: CÉLINE;
  }

  50% {
    content: CÉL;
  }

  100% {
    content: C;
  }
}

/* *Landing */
.landing{
  height: 95vh;
  overflow-y: hidden;
  padding: 5rem var(--padding-4);
}
.animate-landing{
  animation-duration: 3s;
  animation-name: compressLanding;
}
@keyframes compressLanding {
  0% {
    height: 100vh;
    padding: 0;
  }
  80% {
    height: 100vh;
    padding: 0;
  }
  100% {
    height: 95vh;
      overflow-y: hidden;
      padding: 5rem var(--padding-4);
  }
}
.l-video {
 position: relative;
}
.landing-video {
  width: 100% !important;
  height: auto !important;
  border-radius: var(--borer-radius-2);
}
.landing-cover{
  position: absolute;
  top: 0;
  background: var(--color-dark);
  border-radius: var(--borer-radius-2);
  width: 100%;
  height: 100%;
  opacity: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.animate-video{
  animation-duration: 2s;
  animation-name: animateVideo;
}
@keyframes animateVideo{
  0% {
      border-radius: 0;
    }
  
    90% {
      border-radius: 0;
    }
  
    100% {
      border-radius: var(--borer-radius-2);
    }
}
.landing-cover .celine{
  margin-top: 15%;
  display: flex;
  gap: 0;
}
.landing-cover .celine h1{
    color: var(--color-white);
    font-weight: 600;
    font-size: 5rem;
}
.landing-cover .circle{
  height:2rem;
  width: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--padding-1);
  background: var(--color-white);
  opacity: 100%;
  border-radius: var(--borer-radius-3);
  transition-duration: 500ms;
}
.landing-cover .circle:hover{
  background: var(--color-brown-variant);
  color: var(--color-white);
}
.landing-cover .text h5 {
  font-weight: 400;
}
.animate-shop{
  animation-duration: 3.5s;
  animation-name: animateShop;
}
@keyframes animateShop{
      0% {
        margin-top: 5rem;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
      }
    
      50% {
        margin-top: 5rem;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
      }
      70% {
        margin-top: 0rem;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
      }
      100% {
        height: 2rem;
        width: 6rem;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: var(--padding-1);
        background: var(--color-white);
        opacity: 100%;
        border-radius: var(--borer-radius-3);
        transition-duration: 500ms;
      }
}
.animate-text {
  animation-duration: 3.5s;
  animation-name: animateText;
}
@keyframes animateText {
  0% {
    display: none;
    color: var(--color-white);
  }

  70% {
    display: none;
    color: var(--color-white);
  }

  88%{
    display: none;
    color: var(--color-white);  
  }

  100% {
    display: block;
    color: var(--color-dark);
  }
}

/* *Main */
.main {
  padding: 0rem var(--padding-4);
  padding-top: 4rem;
  height: 110vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .left{
  height: 100%;
  position: relative;
}
.main .left .photo-2{
  position: absolute;
  bottom: 10%;
  left: 60%;
}
.main .photo-2 img{
  width: 300px;
  height: auto;
  border-radius: var(--borer-radius-1);
}
.main .photo-3 img{
  width: 400px;
  height: auto;
  border-radius: var(--borer-radius-1);
}

.main .middle{
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main .middle h5{
  font-weight: 400;
  text-align: center;
}
.main .middle h1{
  color: var(--color-brown);
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2rem;
}
.main .middle h4{
  font-weight: 500;
  text-align: center;
}
.main .right{

}
.main .photo-1 img {
  width: 250px;
  height: auto;
  border-radius: var(--borer-radius-1);
}
.main .photo-4 img {
  width: 300px;
  height: auto;
  border-radius: var(--borer-radius-1);
}

/* *Poster */
.poster {
  height: 110vh;
  background: url('./Components/Media/images/poster.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  /* cursor: none; */
}
/* .poster .smear {
  width: 200px;
  height: 200px;
  background: red;
  border-radius: 50%;
  opacity: 20%;
} */
.poster .texts{
  position: relative;
  color: var(--color-brown);
}
.poster .texts #edgy{
  position: absolute;
  top: 10rem;
  right: 20rem;
}
.poster .texts #classy{
  position: absolute;
  top: 20rem;
  left: 30rem;
}
.poster .texts #fierce {
  position: absolute;
  top: 40rem;
  left: 20rem;
}
.poster .texts #strong {
  position: absolute;
  top: 3rem;
  left: 10rem;
}
.poster .texts #chic {
  position: absolute;
  top: 25rem;
  right: 10rem;
}
.poster .texts h3{
  color: var(--color-dark);
  opacity: 90%;
  font-size: 1rem;
  font-weight: 600;
  display: block;
  padding: 20px;
  border-radius: 50%;
  transition-duration: 800ms;
}
.poster .texts h3:hover{
  color: var(--color-white);
  font-size: 1.3rem;
  cursor: none;
  background: rgba(0,0,0, 0.4);
  opacity: 0.6;
}

/* *Maintext */
.main-text{
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-text .text{
  width: 40%;
  color: var(--color-brown);
}

/* *Cloth styles */
.cloth-style{
  padding: 5rem 0;
  height: 100vh;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.cloth-style .style{
  height: 100%;
  width: 100vw;

}
.cloth-style .style div{
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  width: 30rem;
  margin: 0.3rem;
  transition-duration: 2000ms;
}
.cloth-style .style div:hover{
  background-size: 150%;
}
.cloth-style .chic{
  height: 100%;
  background: url('./Components/Media/images/photocard_4.png');
  background-size: 120%;
  background-position: center;
}
.cloth-style .classy{
  height: 100%;
  background: url('./Components/Media/images/photocard_4.png');
  background-size: 120%;
  background-position: center;
}
.cloth-style .fierce{
  height: 100%;
  background: url('./Components/Media/images/photocard_4.png');
  background-size:120%;
  background-position: center;
}
.cloth-style .strong{
  height: 100%;
  background: url('./Components/Media/images/photocard_4.png');
  background-size: 120%;
  background-position: center;
}
.cloth-style .edgy{
  height: 100%;
  background: url('./Components/Media/images/photocard_4.png');
  background-size: 120%;
  background-position: center;
}